/* common */
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 600;
}

.container-playlist::-webkit-scrollbar, .main::-webkit-scrollbar {
    background-color: black;
    width: 12px;
}

.container-playlist::-webkit-scrollbar-thumb, .main::-webkit-scrollbar-thumb {
    background-color: #666666;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.white {
    color: white;
}

.medium {
    font-size: 15px;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.align-center {
    display: flex;
    align-items: center;
}

.just-center {
    display: flex;
    justify-content: center;
}

.just-between {
    display: flex;
    justify-content: space-between;
}

.just-end {
    display: flex;
    justify-content: flex-end;
}

.container-princ {
    height: calc(100vh - 80px);
    overflow: hidden;
}

/* barra navigazione laterale */
.nav {
    width: 50px;
    height: calc(100vh - 80px);
    padding: 20px 20px 0px;
    background-color: black;
    color: #666666;
}

.min-nav, .full-nav {
    height: 100%;
}

.nav .full-nav {
    display: none;
}

.nav .up {
    max-height: calc(100% - 70px);
    min-height: 300px;
}

.nav .bottom {
    height: 70px;
}

.nav-icon {
    width: 20px;
    height: 20px;
    margin: 5px 0;
    vertical-align: middle;
    cursor: pointer;
}

.grey-icon {
    filter: sepia(0%) saturate(1731%) hue-rotate(135deg) brightness(106%) contrast(65%);
}

.grey-icon:hover {
    filter: none;
}

.full-nav .logo {
    height: 30px;
    margin-bottom: 15px;
}

.full-nav #main-nav span {
    margin-left: 5px;
}

.full-nav #main-nav div:hover {
    color: white;
    cursor: pointer;
}

.full-nav #main-nav div:hover .grey-icon {
    filter: none;
}

.home {
    margin-left: -20px;
    border-left: 2px solid #adff2f;
    padding-left: 18px;
    color: white;
}

#playlist {
    margin-top: 25px;
    height: calc(100% - 70px);
}

#playlist h4 {
    text-transform: uppercase;
    cursor: pointer;
}

#playlist .new-playlist {
    margin: 15px 0 10px;
    cursor: pointer;
}

#playlist .plus {
    width: 40px;
    height: 40px;
    background-color: #a3a3a3;
    color: black;
    line-height: 40px;
    text-align: center;
    font-size: 45px;
    font-weight: 400;
    margin-right: 10px;
}

#playlist .new-playlist:hover .plus {
    background-color: white;
}

#playlist .new-playlist:hover {
    color: white;
}

.container-playlist {
    height: calc(60% - 70px);
    list-style: none;
    overflow-y: auto;
}

.container-playlist li {
    margin: 15px 0;
    cursor: pointer;
}

.container-playlist li:hover {
    color: white;
}

#nav-footer {
    padding-top: 10px;
}

.installa img {
    width: 15px;
}

.installa:hover, .installa:hover .grey-icon {
    color: white;
    filter: none;
    cursor: pointer;
}

.full-nav .installa {
    font-size: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #666666;
}

.full-nav .installa img {
    vertical-align: middle;
    margin-right: 5px;
}

.user {
    margin-top: 10px;
}

.user-icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #666666;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-align: center;
}

.user img {
    width: 90%;
}

.user span {
    margin-left: 5px;
}

/* sezione principale */

#main-content {
    height: calc(100vh - 80px);
    background-color: #141922;
}

.header {
    background-color: rgba(0,0,0,0.5);
    height: 80px;
    width: calc(100% - 50px);
    position: fixed;
    z-index: 3;
}

.header .cont-header {
    width: 100%;
    height: 100%;    
}

.upgrade {
    font-weight: 400;
    margin-right: 30px;
    text-transform: uppercase;
    padding: 10px 30px;
    border: 1px solid white;
    border-radius: 20px;
    cursor: pointer;
}

.upgrade:hover {
    transform: scale(1.05);
}

/* sezione contenuti */

.main {
    padding: 80px 20px 20px;
    height: 100%;
    color: #a3a3a3;
    overflow-y: auto;
}

.main .sezioni {    
    text-align: center;
    list-style: none;
}

.main .sezioni li {
    display: inline-block;
    text-transform: uppercase;
    margin: 20px;
    cursor: pointer;
}

.main .sezioni li:hover {
    color: white;
}

.green-bar {
    width: 30%;
    height: 1.5px;
    background-color: #adff2f;
    margin: 3px auto 0;
}

.main section {
    padding: 20px 0;
}

.main .sect-title div {
    margin-top: 10px;
}

.main section > .row {
    margin-top: 15px;
}

.main section h3 {
    color: white;
}

.item {
    width: 100%;
    margin-top: 10px;
}

.item, .copertina, .copertina img {
    width: 100%;
}

.copertina {
    position: relative;
}

.item-content, .text-alb {
    width: 95%;
    cursor: pointer;
}

.text-alb {
    margin: 10px auto 0;
    text-align: center;
}

.text-alb div {
    margin-top: 10px;
}

#popolari img {
    border-radius: 50%;
}

.layover {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

#popolari .layover {
    border-radius: 50%;
}

.layover #play {
    font-size: 50px;
    color: white;
}

.item-content:hover .layover {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* footer */

.footer {
    height: 80px;
    background-color: #282828;
    color: #a3a3a3;
    padding: 10px;
}

.footer i {
    font-size: 13px;
}

.footer .left .icons {
    width: 20%;
    flex-wrap: wrap;
}

.footer .left .icons > * {
    margin-bottom: 5px;
    margin-right: 5px;
}

.footer .icons > *:hover {
    color:  white;
}

.footer .left {
    flex-basis: 20%;
}

.footer .right {
    flex-basis: 15%;
}

.footer .playing {
    width: 75%;
    min-width: min-content;
    margin-right: 20px;
}

.footer .playing img {
    width: 50px;
    margin-right: 10px;
}

.song-name {
    font-size: 10px;
}

.song-name:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.middle {
    width: 40%;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
}

.player {
    width: 100%;
    margin-bottom: 10px;
}

.player * {
    margin: 0 5px;
    cursor: pointer;
}

.player #play {
    font-size: 30px;
}

.player #play:hover {
    transform: scale(1.1);
}

.middle .time {
    width: 100%;
}

.middle .bar {
    width: 90%;
}

.middle .time span {
    font-size: 10px;
    color: white;
}

.right {
    margin-left: 5px
}

.right i, .middle i {
    color: white;
}

.right i {
    margin-right: 5px;
    cursor: pointer;
}

.bar {
    width: 70%;
    min-width: 40px;
    height: 3px;
    background-color: #666666;
    border-radius: 10px;
    position: relative;
    margin: 0 5px;
    cursor: pointer;
}

.light-bar {
    background-color: #a3a3a3;
    width: 30%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    left: 0;
}

.circle {
    display: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    
}

.bar:hover .circle {
    display: inline-block;
}

.bar:hover .light-bar {
    background-color: #adff2f;
}

/* media queries */
@media screen and (min-width: 650px) {

    .min-nav, .min-nav *{
        display: none;
    }

    .nav {
        width: 230px;
    }

    .nav .full-nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .header {
        width: calc(100% - 230px);
    }

    .player * {
        margin: 0 10px;
    }

    .right i {
        margin-right: 15px;
    }
}

@media screen and (max-height: 350px) {
    .header {
        display: none;
    }
}